.field {
  display: flex;
  flex-direction: column;

  gap: 0.75rem;
}

label {
  font-size: 0.95rem;
  font-weight: 500;
}

input,
textarea {
  width: 100%;

  padding: 1rem 1.2rem;

  border: 1px solid #243041;
  border-radius: 16px;

  background: #111827;

  color: #f8fafc;

  resize: none;

  transition:
    border-color 250ms cubic-bezier(0.22, 1, 0.36, 1),
    background 250ms cubic-bezier(0.22, 1, 0.36, 1);

  &:focus {
    outline: none;

    border-color: #6366f1;
  }
}

textarea {
  min-height: 180px;
}