.footer {
  padding: 5rem 0 2rem;
  border-top: 1px solid #243041;
}

.content {
  display: flex;
  justify-content: space-between;

  gap: 3rem;

  margin-bottom: 3rem;
}

.content p {
  margin-top: 1rem;

  color: #94a3b8;
}

.links {
  display: flex;
  gap: 2rem;
  font-size: 2rem;

  & a {
    transition: all ease-in-out 300ms;
  }

  & a:hover {
    color: #94a3b8;
    transform: translateY(-3px);
  }
}

.bottom {
  padding-top: 2rem;

  border-top: 1px solid #243041;

  color: #64748b;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .links {
    justify-content: center;
    gap: 2rem;
  }
}