.card {
  padding: 2rem;
  border: 1px solid #243041;
  border-radius: 28px;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  max-width: 700px;

  margin: 0 auto;
}

button {
  border: none !important;
}

.success {
  color: #22c55e;
  text-align: center;
}

.error {
  color: #ef4444;
  text-align: center;
}

.button {
  align-self: center;
}

.honeypot {
  display: none;
}
